name: Build And Publish
on: 
  push:
    tags:
      - '*'

jobs:
  test:
    strategy:
      matrix:
        dotnet: ["6", "7", "8"]
    name: Test on main branch
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      
      - name: Setup dotnet environment
        uses: actions/setup-dotnet@v3
        if: ${{ matrix.dotnet != '8' }}
        with:
          dotnet-version: ${{ matrix.dotnet }}

      - name: Setup dotnet preview environment
        uses: actions/setup-dotnet@v3
        if: ${{ matrix.dotnet == '8' }}
        with:
          dotnet-version: ${{ matrix.dotnet }}
          dotnet-quality: preview

      - name: Run test
        run: dotnet test --collect:"XPlat Code Coverage"
        continue-on-error: ${{ matrix.dotnet == '8' }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./GDResChecker.Test/TestResults/**/coverage.cobertura.xml

  build:
    name: Build on tag
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup dotnet environment
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6

      - name: Build
        run: |
          cd GDResChecker.Checker
          dotnet build /p:Version=${{ github.ref_name }}
          dotnet nuget push ./nupkg/GDResChecker.Checker.${{ github.ref_name }}.nupkg --api-key ${{ secrets.NUGET_TOKEN }} --source https://api.nuget.org/v3/index.json
