name: Nightly Build
on: 
  schedule:
    - cron: '0 0 * * *'

jobs:
  test:
    strategy:
      matrix:
        dotnet: ["6", "7", "8"]
    name: Test on main branch
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup dotnet environment
        uses: actions/setup-dotnet@v3
        if: ${{ matrix.dotnet != '8' }}
        with:
          dotnet-version: ${{ matrix.dotnet }}

      - name: Setup dotnet preview environment
        uses: actions/setup-dotnet@v3
        if: ${{ matrix.dotnet == '8' }}
        with:
          dotnet-version: ${{ matrix.dotnet }}
          dotnet-quality: preview

      - name: Run test
        run: |
          dotnet build
          dotnet tool install --global coverlet.console
          coverlet ./GDResChecker.Test/bin/Debug/net6.0/GDResChecker.Test.dll --target 'dotnet' --targetargs "test --no-build" --format cobertura
        continue-on-error: ${{ matrix.dotnet == '8' }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        if: ${{ matrix.dotnet == '6' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./GDResChecker.Test/coverage.cobertura.xml

  build:
    name: Build on tag
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup dotnet environment
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6

      - name: Build
        run: |
          cd GDResChecker.Checker
          dotnet build
