name: Pull Request Check
on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    name: Lint on pull request
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Check BOM
        uses: arma-actions/bom-check@v1
      
      - name: Check for CRLF endings
        uses: erclu/check-crlf@v1

      - name: Setup dotnet environment
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.x

      - name: Lint
        run: |
          dotnet tool install -g dotnet-format
          dotnet format -v diag --verify-no-changes 'YetAnotherAI.Godot.ResourceChecker.sln'

  test:
    name: Test on pull request
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet: ['6', '7', '8']
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup dotnet environment
        uses: actions/setup-dotnet@v3
        if: ${{ matrix.dotnet != '8' }}
        with:
          dotnet-version: ${{ matrix.dotnet }}

      - name: Setup dotnet preview environment
        uses: actions/setup-dotnet@v3
        if: ${{ matrix.dotnet == '8' }}
        with:
          dotnet-version: ${{ matrix.dotnet }}
          dotnet-quality: preview

      - name: Run test
        run: |
          dotnet build
          dotnet tool install --global coverlet.console
          coverlet ./YetAnotherAI.Godot.ResourceChecker.Test/bin/Debug/net6.0/YetAnotherAI.Godot.ResourceChecker.Test.dll --target 'dotnet' --targetargs "test --no-build" --format cobertura
        continue-on-error: ${{ matrix.dotnet == '8' }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        if: ${{ matrix.dotnet == '6' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./YetAnotherAI.Godot.ResourceChecker.Test/coverage.cobertura.xml
  
  actions-test:
    name: Action Testing
    runs-on: ubuntu-20.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      
      - name: Run action
        continue-on-error: true
        uses: ./action
        with:
          project: action
  